header {
	position: absolute;
	top: 0;
	left:0;
}
#rectangle {
	width: 1000;
	height: 100;
	background-color: #336699;
	left:0;
}
.imghdr {
	height: 75px;
	position: absolute;
	left: 20px;
	top: 5px;
}

.qsnhdr {
	left: 500px;
}

.arhdr {
	left: 725px;
}
.chdr {
	position: absolute;
	left: 1150px;
}
.nhdr {
	left: 1270px;
}
.lpshdr {
	left: 900px;
}
.rgbhdr {
	position: absolute;
	text-decoration:none;
	top: 35px;
	color: #2e3841;
}
.rgbftr {
	position: absolute;
	text-decoration:none;
	color: #336699;
}
.abdup {
	position: absolute;
	top: 100px;
}
.abdmed {
	position: absolute;
	top: 825px;
}
.cplace {
	position: absolute;
	top: 600px;
}
.resize {
	height: 80px;
	position: absolute;
}
.imga1 {
	height: 700px;
	position: absolute;
	left: -10px;
}
.imga2 {
	height: 400px;
	position: absolute;
	left: 707px;
	top: 100px;

}
.imgcmed1 {
	top: 0;
	left: 100px;
}
.imgcmed2 {
	top: 0;
	left: 400px;
}
.imgcmed3 {
	top: 0;
	left: 625px;
}
.imgcmed4 {
	top: 0;
	left: 850px;
}
.imgcmed5 {
	top: 0;
	left: 1050px;
}
.imgcmed6 {
	top: 0;
	left: 1200px;
}
.imgcmed7 {
	height: 140px;
	top: 90px;
	left: 140px;
}
.imgcmed8 {
	height: 100px;
	top: 120px;
	left: 425px;
}
.imgcmed9 {
	top: 120px;
	left: 575px;
}
.imgcmed10 {
	top: 120px;
	left: 750px;
}
.imgcmed11 {
	top: 120px;
	left: 1025px;
}
.imgcmed12 {
	top: 200px;
	left: 120px;
}
.imgcmed13 {
	top: 200px;
	left: 525px;
}
.imgcmed14 {
	top: 200px;
	left: 800px;
}
.imgcmed15 {
	height: 40px;
	top: 220px;
	left: 1075px;
}
.imgcmed16 {
	height: 80px;
	top: 260px;
	left: 150px;
}
.imgcmed17 {
	top: 275px;
	left: 325px;
}
.imgcmed18 {
	top: 265px;
	left: 475px;
}
.imgcmed19 {
	top: 265px;
	left: 650px;
}
.imgcmed20 {
	top: 265px;
	left: 800px;
}
.imgcmed21 {
	height: 110px;
	top: 260px;
	left: 1000px;
}
.imgcmed22 {
	height: 100px;
	top: 260px;
	left: 1125px;
}
.imgcmed23 {
	height: 100px;
	top: 340px;
	left: 325px;
}
.imgcmed24 {
	height: 100px;
	top: 340px;
	left: 650px;
}
.imgcmed25 {
	height: 100px;
	top: 340px;
	left: 900px;
}

body {
	font-family: 'Minecraft', sans-serif;
	background-color: #8891A0;
}
.atxtup {
	text-align: left;
	position: absolute;
	top: 200px;
	left: 775px;
}
.atxtmed {
	text-align: center;
	position: absolute;
	top: 825px;
	left: 30px;
}
.amedleft {
	text-align: left;
	position: absolute;
	left: -20px;
	background-color:#9CA5B4;
	width:200px;
	height:405px;
	border:0px solid #000;"
}
.amedmid {
	text-align: left;
	position: absolute;
	left: 210px;
	background-color:#9CA5B4;
	width:200px;
	height:405px;
	border:0px solid #000;"
}
.amedright {
	text-align: left;
	position: absolute;
	left: 440px;
	background-color:#9CA5B4;
	width:200px;
	height:405px;
	border:0px solid #000;"
}
.imga3 {
	position: absolute;
	top: 930px;
	left: 70px;
}
.imga4 {
	position: absolute;
	top: 930px;
	left: 300px;
}
.imga5 {
	position: absolute;
	top: 930px;
	left: 535px;
}
.LP {
	position: absolute;
	left:500px;
}
.lp {
	position: absolute;
	top: 10px;
}
.accueil {
	position: absolute;
	top:50px;
}
.qsnftr {
	position: absolute;
	top:80px;
}
.nbftr {
	position: absolute;
	top:110px;
}
.ipdnftr {
	position: absolute;
	top:140px;
}
.andpftr {
	position: absolute;
	top: 170px;
}
.aldpftr {
	position: absolute;
	top: 200px;
}
.taftr {
	position: absolute;
	top: 230px;
}
.LF {
	position: absolute;
	left:800px;
}
.In {
	position: absolute;
	left: 1100px;
}
.qsntxtup {
	position: absolute;
	top: 150px;
	left: 200px;
}
.qsntxtupl {
	width: 500px;
	position: absolute;
	top: 100px;
	left: -25px;
}
.qsntxtupr {
	width: 500px;
	position: absolute;
	top: 100px;
	left: 650px;
}
.nptxtmed {
	position: absolute;
	top: 500px;
	left: 200px;
}
.ntxtup {
	position: absolute;
	top: 150px;
	left: 250px;
}
